---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: datanetworknames.req.nephio.org
spec:
  group: req.nephio.org
  names:
    kind: DataNetworkName
    listKind: DataNetworkNameList
    plural: datanetworknames
    singular: datanetworkname
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              networkInstanceReference:
                description: NetworkInstance defines the networkInstance context to
                  which this DNN belongs
                properties:
                  name:
                    description: Name is unique within a namespace to reference a
                      nfClass.
                    maxLength: 253
                    minLength: 1
                    type: string
                  namespace:
                    description: Namespace is the namespace of the referent. This
                      field is required when referring to a Namespace-scoped resource
                      and MUST be unset when referring to a Cluster-scoped resource.
                    maxLength: 63
                    minLength: 1
                    pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                    type: string
                required:
                - name
                type: object
              pools:
                description: Pools defines the parameters of the IP pool associated
                  with the DNN
                items:
                  properties:
                    name:
                      description: Name defines the name of the pool
                      maxLength: 253
                      minLength: 1
                      type: string
                    prefixLength:
                      description: PrefixLength define the size of the pool
                      type: integer
                  type: object
                type: array
            required:
            - networkInstanceReference
            type: object
          status:
            type: object
        type: object
    served: true
    storage: true
